.page {
  width: 100%;
  max-width: 1280px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  background: #2A2C2F;
  padding: 28px 48px 24px;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .page {
    padding: 28px 0 24px;
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    min-width: 320px;
    padding: 16px 0 24px;
  }
}