.cover {
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin: 92px auto 0;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin-top: 66px;
    }
}