.lead__caption {
  margin: 8px 0 0;
  max-width: 984px;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: start;
}

@media screen and (max-width: 1279px) {
  .lead__caption {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    max-width: 768px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    max-width: 320px;
    margin-left: 16px;
  }
}